<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Template • TodoMVC</title>
		<link rel="stylesheet" href="bower_components/todomvc-common/base.css">
	</head>
	<body>
		<section id="todoapp"> <%- reactContent %> </section>
        <footer id="info"></footer>
        <div id="benchmark"></div>

        <script type="text/json" id="react-data"><%- data %></script>
        <script type="text/javascript" src="js/bundle.js"></script>
	</body>
</html>